DATABASE_URL="mysql://root:password@127.0.0.1:3306/db_blue_erp?allowPublicKeyRetrieval=true"
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="db_blue_erp"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET="your-secret-key"
LICENSING_SERVER="link-do-server"
LICENSE_PUBLIC_KEY="public"
ENVIRONMENT="development"
PORT=3000